div {
	width: 210px;
	height: 210px;
}

td {
	width : 210px;
	height: 210px;
	color: white;
	font-family: Arial;
}

#insta {
	height: 175px;
	width: 175px;
	padding-left: 17px;
}

#pace {
	height: 210px;
	width: 210px;
	align = "center";
}
#ethan {
	height: 420px;
	width: 210px;
}
#resume1 {
	height: 170px;
	width: 170px;
	padding-left: 20px;
}
#link {
	height: 210px;
	width: 210px;
}
#name {
	height: 210px;
	width: 210px;
}	
#ga {
	height: 170px;
	width: 170px;
	padding-left: 25px;
	padding-top: 9px;
}	
.table1 {
	background-color: IndianRed;
}
.div2 {
	background-color: IndianRed;
	height: 1500px;
	width: 1300px;
}
.table1 {
	color: black;
}
.table2 {
	color: SteelBlue;
	background-color: SteelBlue;
}
.td1 {
	height: 200px;
	width: 300px;
	font-size: 30px;
	color: white;
}
.td2 {
	height: 90px;
	width: 300;
	font-size: 20px;
	color: black;
}
.div3 {
	background-color: SteelBlue;
	height: 1500px;
	width: 1300px;
}
.td3 {
	height: 100px;
	width: 600px;
	font-size: 15px;
	color: black;
}
.tr1 {
	height: 700px;
	width: 900;
	font-size: 15px;
}
.td4 {
	height: 30px;
	width: 300px;
	font-size: 30px;
	color: white;
}
#nimbus {
	height: 130px;
	width: 200px;
	padding-left: 6px;
}
#testgrid {
	height: 110px;
	width: 180px;
	padding-left: 14px;
	padding-bottom: 24px;
}
.div4 {
	background-color: MediumPurple;
	height: 1500px;
	width: 1300px;
}
.td10 {
	height: 100px;
	width: 250px;
	font-size: 20px;
	background-color: MediumPurple;
	align: middle;
}
.td11 {
	height: 100px;
	width: 250px;
	font-size: 14px;
	background-color: MediumPurple;	
}